<h1>Edit Subscriber</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.subscriber_path(@conn, :update, @subscriber)) %>

<span><%= link "Back", to: Routes.subscriber_path(@conn, :index) %></span>
