<h1>Show Subscriber</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @subscriber.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @subscriber.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.subscriber_path(@conn, :edit, @subscriber) %></span> |
<span><%= link "Back", to: Routes.subscriber_path(@conn, :index) %></span>
